*.dll
*.dylib
*.so
/.gradle/
/.nb-gradle/
/SkyAssets/build/
/SkyAssets/src/main/resources/bsc5.dat
/SkyAssets/src/main/resources/bsc5.dat.gz
/SkyExamples/build/
/SkyExamples/private/
/SkyExamples/Written Assets/
/SkyLibrary/build/
/SkyLibrary/src/main/resources/Textures/skies/
