---
# GitHub Actions workflow for commits pushed to the SkyControl repo - all branches

name: CI at GitHub
on: [push]

jobs:
  Java17-Linux:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    steps:
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17
      - uses: actions/checkout@v6
      - uses: gradle/actions/wrapper-validation@v5
      - run: ./gradlew build --console=plain --stacktrace

  Java21-MacOS:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: macOS-15
    timeout-minutes: 10
    steps:
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 21
      - uses: actions/checkout@v6
      - run: ./gradlew build --console=plain --stacktrace

  Java25-Windows:
    if: contains(toJson(github.event.commits), '[ci skip] ') == false
    runs-on: windows-2025
    timeout-minutes: 3
    steps:
      - uses: actions/setup-java@v5
        with:
          distribution: 'liberica'
          java-version: 25
      - uses: actions/checkout@v6
      - run: ./gradlew build --console=plain --stacktrace
        shell: bash
